:root {
    --brand-color-main: #fff;
    --brand-color-first: #212121;
    --barnd-color-secondary: #2F303A;
    --brand-color-third: #F5F4FA;
    --brand-color-text: #757575;
    --brand-color-activity: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;  
    color: var(--brand-color-first);
    background-color: #F5F5F5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* ul, li {
    margin: 0;
    padding: 0;
    display: inline-block;
} */

.navigation, .studio-link, .portfolio-link, .contacts-link, .contacts, .contacts-link, .mail-link, .tel-link,
.advantages-list, .advantages-item,
.work-images, .work-item,
.team-members, .member,
.address-list, .address-item,
.filter-list, .filter-item,
.projects, .project-item
{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.logo, 
.studio, 
.portfolio, 
.contact, 
.mail, 
.tel, 
.logo-footer, 
.map, 
.tel-top, 
.mail-top {
    text-decoration: none;
    color: var(--brand-color-first);
}

a:hover, a:active, a:focus {
    color: var(--brand-color-activity);
}

.order-button, .filter {    
    border: none;
    cursor: pointer;
}

 /* HEADER  */
.header {
    display: flex;
    width: 1600px;  
    background-color: var(--brand-color-main);
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
    margin: 0 auto;
}
.container {
    display: flex;
    width: 1200px; 
}

.logo {
    margin-right: 93px; 
    font-size: 26px;
    line-height: 1.19;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #000000;
}
.web-word {
    color: var(--brand-color-activity);
}

nav {
    display: flex;
    align-items: center;
    margin-right: 344px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    width: 281px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.current {
    color: var(--brand-color-activity);
}

.contacts {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color-text);
}

.tel-top {
    margin-left: 50px;
    color: var(--brand-color-text);
}

/* ШАПКА */
.button-field {
    display: flex;
    justify-content: center;
    width: 1600px;
    background-color: var(--barnd-color-secondary);
    padding: 200px 0;
    margin: 0 auto;
}
.button-field>div.container {
    flex-direction: column;
    align-items: center;
}

.button-discription {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-color-main);
    margin-bottom: 30px;
}

.order-button {
    background-color: var(--brand-color-activity);
    color: var(--brand-color-main);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }

/* ОСОБЛИВОСТІ */

.advantages {
    width: 1600px;
    padding: 94px 0;
    background-color: var(--brand-color-main);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.advantages-item {
    width: 270px;
}



.advantages-point {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages-desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
}

/* ЧИМ МИ ЗАЙМАЄМОСЬ */

.work {
    width: 1600px;
    display: flex;
    justify-content: center;
    /* height: 480px; */
    background-color: var(--brand-color-main);
    padding-bottom: 94px;
    margin: 0 auto;
}
.work>div.container {
    flex-direction: column;
}

.work-head,
.team-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.work-list {
display: flex;
justify-content: space-between;
}

/* НАША КОМАНДА */

.team {
    width: 1600px;
    display: flex;
    justify-content: center;
    background-color: var(--brand-color-third);
    padding: 94px 0;
    margin: 0 auto;
}
.team>div.container {
    flex-direction: column;
    justify-content: center;
}
.team-members {
    display: flex;
    justify-content: space-between;
}

.team-members > li {
    background-color: var(--brand-color-main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 30px 0 10px 0;
    }

.speciality {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
    margin-bottom: 10px;
}

/* НИЖНІЙ КОЛОНТИТУЛ */

.footer {
    width: 1600px;
    display: flex;
    justify-content: center;
    background-color: var(--barnd-color-secondary);
    padding: 60px 0;
    margin: 0 auto;
}
.footer>div.container {
    flex-direction: column;
}
.logo-footer {
    height: 31px;   
    font-size: 26px;
    line-height: 1.19;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--brand-color-main);
}

.address-list {
    margin-top: 20px;
}

.address-item {
    display: block;
    margin-bottom: 9px;
}

.map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color-main);
    font-style: normal;
}

.tel , .mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}


/* PORTFOLIO  */

.portfolio-body {
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color-first);
    margin: 0;
    
}

.portfolio-section {
    background-color: var(--brand-color-main);
    width: 1600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 94px 0;
    /* background-color: #F5F5F5; */
}
.portfolio-section>div.container {
    flex-direction: column;
    align-items: center;
}
/* FILTER  */
.filter-list {
    display: flex;
    padding-bottom: 50px;  
}
.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--brand-color-third);
    border-radius: 4px;
}
.filter:not(:first-child){
    padding: 6px 22px;
}
.filter:first-child{
    padding: 6px 25px;
}
.filter:hover,
.filter:active,
.filter:focus {
    background-color: var(--brand-color-activity);
    color: var(--brand-color-main);
}

.projects {
display: flex;
flex-wrap: wrap;
}

.project-item {
    margin-bottom: 28px;
    margin-right: 28px;
    border-color: #EEEEEE;
    border-width: 1px;
    border-style: solid;
}

.project-item:nth-child(3n+3) {
    margin-right: 0;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    margin-left: 24px;
    text-align: left;
}

.project-type {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
    margin-left: 24px;
}
